html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  #main {
    width: 100%;
    height: 100%;
    .ant-layout, .ant-layout-content {
      height: 100%;
      background: #fff;
    }
  
    .menu {
      height: 100%;
      width: 200px;
      overflow-y: auto;
    }
  
    .header.ant-layout-header {
      background-color: #212528;
      color: #fff;
      height: 50px;
      line-height: 50px;
    }
  
    // section.ant-layout {
    //   background: #2E2E2E;
    // }
  
    .container {
      border: 1px solid rgba(255,255,255,0.3);
      margin: 5px;
    }
  }
  
  .butterfly-lineage-dag {
    .title-test {
      height: 34px;
      line-height: 34px;
    }
  }
