
.butterfly-lineage-dag{
  min-height: 550px !important;
}

.butterflies-link{
  stroke-dasharray: 5;
  animation: dashdraw .5s linear infinite;
}

.butterfly-lineage-dag .table-node{
    border-color: #c4cbd1;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}


@keyframes dashdraw{0%{stroke-dashoffset:10}}